---
import Layout from '../layouts/Layout.astro'
import { books } from '../data/books'
import BuyNowIcon from '../icons/BuyNow.astro'
import GoBackIcon from '../icons/GoBack.astro'

const { book } = Astro.params

const info = books.find((b) => b.id === book)

if (!info) {
	return Astro.redirect('/404')
}
---

<Layout title={info.title}>
	<header>
		<h1
			class='md:text-4xl text-3xl font-bold uppercase text-center py-8 px-4'
			style='view-transition-name: title'
		>
			Books of
			<span class='block md:text-[24px] text-[20px]'>programming</span>
		</h1>
	</header>
	<div class='grid grid-cols-[350px_1fr] gap-x-12 mt-5 min-h-[635px]'>
		<section class='flex flex-col'>
			<picture class='mb-8 w-full relative'>
				<img
					class='aspect-[389/500] h-full w-full object-cover max-w-full rounded'
					src={info.img}
					alt={info.title}
					style={`view-transition-name: book-${info.id}`}
				/>
			</picture>
			<div class='flex flex-col gap-6'>
				<BuyNowIcon />
				<GoBackIcon />
			</div>
		</section>

		<aside>
			<h1 class='text-5xl font-black mb-4'>{info.title}</h1>
			<p class='text-lg mb-6'>{info.opinion}</p>
			<p>
				<strong>
					Author:{' '}
				</strong>
				<span class='font-semibold text-gray-400'>
					{info.author}
				</span>
			</p>
		</aside>
	</div>
</Layout>
