---
import Layout from '../layouts/Layout.astro'
import { books } from '../data/books'
import BuyNowIcon from '../icons/BuyNow.astro'

const { book } = Astro.params

const info = books.find((b) => b.id === book)

if (!info) {
	return Astro.redirect('/404')
}
---

<Layout title={info.title}>
	<div class='grid grid-cols-[350px_1fr] gap-x-12 mt-20 min-h-[635px]'>
		<section class='flex flex-col'>
			<picture class='mb-8 w-full relative'>
				<img
					class='aspect-[389/500] h-full w-full object-cover max-w-full rounded'
					src={info.img}
					alt={info.title}
				/>
			</picture>
			<BuyNowIcon />
			<p class='text-center text-blue-500 block mt-8'>
				👉{' '}
				<a href='/' class='hover:underline'>Go back to home page.</a>
			</p>
		</section>

		<aside>
			<h1 class='text-5xl font-black mb-4'>{info.title}</h1>
			<p class='text-lg mb-6'>{info.opinion}</p>
			<p>
				<strong>
					Author:{' '}
				</strong>
				<span class='font-semibold text-gray-400'>
					{info.author}
				</span>
			</p>
		</aside>
	</div>
</Layout>
