---
import Layout from '../layouts/Layout.astro'
import { books } from '../data/books'
import BuyNowIcon from '../icons/BuyNow.astro'
import GoBackIcon from '../icons/GoBack.astro'
import Title from '../components/Title.astro'

const { book } = Astro.params

const info = books.find((b) => b.id === book)

if (!info) {
	return Astro.redirect('/404')
}
---

<Layout title={info.title}>
	<Title scale='scale-75' />

	<div class='grid md:grid-cols-[350px_1fr] grid-cols-1 gap-x-12 mt-5 min-h-[551px] px-8 md:px-4'>
		<section class='flex items-center mb-8'>
			<picture class='md:w-full w-auto h-full relative'>
				<img
					class='aspect-[389/500] object-cover rounded w-[350px]'
					src={info.img}
					alt={info.title}
					style={`view-transition-name: book-${info.id}`}
				/>
			</picture>
		</section>

		<aside class='mx-auto items-center'>
			<h1 class='md:text-5xl text-3xl font-black mb-4'>{info.title}</h1>
			<p class='md:text-lg text-base mb-6'>{info.opinion}</p>
			<p class=''>
				<strong>
					Author:{' '}
				</strong>
				<span class='font-semibold text-gray-400'>
					{info.author}
				</span>
			</p>
			<div class='flex flex-col md:flex-row my-12 gap-4 md:justify-normal justify-center'>
				<GoBackIcon />
				<BuyNowIcon />
			</div>
		</aside>
	</div>
</Layout>
